#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
}
.dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #fff9ea;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;   
}

.dish-heart{
    position: absolute;
    background-color: #e6a308;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #fff9ea;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 0px 0px 20px;
}
.dish-description{
    color: #434343;
    text-align: center;
}
.dish-rate{
    color: #e98f09;
}
.dish-price{
    display: flex;
    align-items: center;
    gap: 20px;

}
@media screen and (max-width: 768px) {
    #dishes {
        flex-wrap: wrap;
        align-items: center;
    }
    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px){
    .dish{
        width: 100%;
    }
    #menu .section-subtittle{
        text-align: center;
    }

}