@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimoniais.css');
@import url('footer.css');

:root{
    --color-primary-1:#fff9ea;
}

.btn-default{
  font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #fff9ea;
}

section{
  padding: 28px 8%;

}
.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    transition: background-color 0.3s ease;  
    
}

.btn-default:hover {
    background-color: orange;
}

.social_media-buttons{
    display: flex;
    gap: 18px;
}
.social_media-buttons a{
   display: flex;
   align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #fff9ea;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.social_media-buttons a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);    
}
.section-tittle{
    color:#e9a209;
    font-size: 3.125rem;

}
.section-subtittle{
    font-size: 2.1875rem;
}